*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

.navbar{
    display: flex;
    padding: 20px;
    background-color: #1F2937;
    color: aliceblue;
    justify-content: space-around;
}



.nav-menu{
    display: flex;
    justify-content: flex-end;
}

.login,
.About{
    margin-right: 20px;
}

.hero-main{
    background-color: #1F2937;
    color: aliceblue;
}

.hero{
    display: flex;
    padding: 150px;
    align-items: center;
   
}

.hero-content h3{
   font-size: 54px;
   font-weight: bold;
}

.hero-content p{
   font-size: 20px;
}

.btn-contact{
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

img{
    width: 30vw;
    height: auto;
}

.section{
    text-align: center;
}

.grid-container{
    display: flex;
    justify-content: space-between;
    
}

.grid-items{
    border: 2px solid blue;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}
    