*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

.navbar{
    display: flex;
    padding: 20px;
    background-color: #1F2937;
    color: aliceblue;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
}

.login,
.About{
    margin-right: 20px;
}

.hero-main{
    background-color: #1F2937;
    color: aliceblue;
}

.hero{
    display: flex;
    padding: 150px;
    align-items: center;
   
}

.hero-content h1{
   font-size: 54px;
   font-weight: bold;
}

.hero-content p{
   font-size: 18px;
}

.btn-contact{
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

img{
    width: 30vw;
    height: auto;
}

.section{
    text-align: center;
}

.section-heading{
    padding-top: 40px;
}

.section-heading h1{
    font-size: 48px;
}

.grid-container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    
}

.grid-items{
    border: 2px solid blue;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
}

.about-section{
    background-color: #e5e7eb;
}

.about-text{
    padding: 150px;
}

.about-text p{
    font-size: 36px;
    font-style: italic;
    
}

.reminder{
    display: flex;
    border: 2px solid green;
    background-color: blue;
    margin: 10vw;
    margin-top: 5vw;
    height: 7rem;
    gap: 250px;
    align-items: center;
    color: white;
}

.reminder-text{
    padding-left: 2rem;
}
.reminder-text h3{
    font-size: 18px;
}

footer{
    background-color: #1F2937;
    color: white;
    height: 80px;
}

.footer{
    text-align: center;
    padding: 30px;
}

